<h2>Upps! parace que la vista que estas buscando no existe o aún no ha sido creada por nuestros talentosos programadores!</h2>
<h4>Nuestras vistas disponibles actualmente son:</h4>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/">Home</a></li>
<li><a href="/">Home</a></li>
<li><a href="/">Home</a></li>
<li><a href="/">Home</a></li>
<li><a href="/">Home</a></li>

</ul>