<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

            <div class="row">
                <div class="col image">
                    <img src="" alt="">
                </div>
                <div class="col data">
                    <h2>nameProduct</h2>
                    <h4>descriptionProduct</h4>
                    <p>time</p>
                    <p>class</p>
                    <p>portions</p>
                    <p>kalories</p>
                    <a href="">receta</a>
                </div>
                <div class="col price">
                    <h4>Price</h4>
                    <h5>Discount</h5>
                </div>
                <div class="col control">
                    <button>editar</button>
                    <button>borrar</button>
                </div>
            </div>

            <%- include('partials/footer') %>
    </body>

</html>