<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

            <div id="fondoTablas">
                <div class="container">

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="">
                                <img src="/images/productos/blog-img-1.jpg" class="img-fluid" alt="">
                                <h3><a href="http://www.webcoderskull.com/">Web coder skull</a></h3>
                                <p>Freelance Web Developer</p>
                                <div class="">
                                    <a href="">Ver más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>






            <%- include('partials/footer') %>

    </body>

</html>