<!--   FOOTER START================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h4 class="title">Acerca de Cook It</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit, libero a molestie consectetur, sapien elit lacinia mi.</p>
                <ul class="social-icon">
                    <a href="#" class="social"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fab fa-youtube-play" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fab fa-google" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h4 class="title">Mi cuenta</h4>
                <span class="acount-icon">          
            <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Mis favoritos</a>
            <a href="#"><i class="fa fa-users" aria-hidden="true"></i>Mis pedidos</a>
            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Mis datos</a>
            <a href="#"><i class="fa fa-globe" aria-hidden="true"></i> Idioma</a>           
            </span>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h4 class="title">Categorias</h4>
                <div class="category">
                    <a href="#">Mediterranea</a>
                    <a href="#">Mexicana</a>
                    <a href="#">Italiana</a>
                    <a href="#">Suiza</a>
                    <a href="#">Española</a>
                    <a href="#">Americana</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h4 class="title">Medios de pago</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <ul class="payment">
                    <li><a href="#"><i class="fab fa-cc-amex" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-cc-mastercard" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-paypal" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-cc-visa" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row text-center"><a href="http://lacodeid.com/" style="color: #fff;">Copyright © Sprinters Cook It</a></div>
    </div>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>