<div class="header container-fluid">
    <div class="container">

        <div class="row cabecera">
            <!--LOGOTIPO-->
            <div class="col-12 col-md-5 col-lg-3">
                <a class href="/"><img src="/images/logos/casita3.png" alt="logo Cook It" class="img-fluid logo">
                    <h5 class="slogan text-right"> Choose It. Take It. Cook It</h>
                </a>
            </div>

            <!--NAVEGACION Y BUSCADOR-->
            <div class="col-12 col-md-7 col-lg-9">
                <div class="d-flex flex-column">
                    <div class="row">
                        <!--BUSCADOR-->
                        <form class="formulario ml-auto">
                            <div class="form-group">
                                <!--<label for="inputPassword6">Buscador</label>-->
                                <input type="text" id="inputPassword6" class="form-control" placeholder="¿Que querés comer hoy de rico?">
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-outline-success ml-auto">Guia Nutricional</button>
                    </div>
                </div>
            </div>
        </div>

        <!--NAVEGACION - MENU-->
        <nav class="navbar-expand-md text-center my-4">

            <!--boton para que desplegar el menu  en caso que el viewport sea tamaño movil-->
            <button class="navbar-toggler my-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>

            <!--barra de menu que aparece a partir de la vesión de tablet-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PROMOCIONES</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PARA COMPARTIR</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NUESTRAS DELICIAS</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <!--
                    <% if (user && user.rol == "admin") { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ADMINISTRACIÓN</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/admin/products">Listado de productos</a>
                                <a class="dropdown-item" href="/admin/users">Usuarios</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin/products/add">Agregar producto SQL</a>
                            </div>
                        </li>
                        <% } %>
                    -->

                </ul>
                <!--NAVEGACION USUARIO-->

                <ul class="navbar-nav ml-auto user">

                    <% if (user) { %>
                        <li>
                            <a class="nav-link" href="/carrito"><i class="fas fa-shopping-basket"></i> MI COMPRA</a>
                        </li>
                        <li class="ml-2">

                            <a class="nav-link " href="/users/login" hidden>LOGIN</a>
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-alt"></i> MI CUENTA</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/users/perfil/<%= user.id %> "><i class="far fa-id-card"></i> Mi perfil</a>
                                <a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Cerrar sessión</a>
                                <% if (user && user.rol == "admin") { %>
                                    <div class="dropdown-divider"></div>
                                    <h3 class="dropdown-header">Administrador</h3>
                                    <a class="dropdown-item" href="/admin/users"><i class="fas fa-users"></i> Usuarios</a>
                                    <a class="dropdown-item" href="/admin/products"><i class="fas fa-shopping-cart"></i> Productos</a>
                                    <a class="dropdown-item" href="/admin/products/add"><i class="fas fa-cart-plus"></i> Agregar producto</a>
                                    <% } %>
                            </div>
                        </li>
                        <% } else {%>
                            <li class="ml-2">

                                <a class="nav-link " href="/users/login">LOGIN</a>
                                <a class="nav-link " href="/users/logout" hidden>LOGOUT</a>
                                <li class="ml-2">

                                    <% } %>


                </ul>
            </div>

        </nav>


    </div>

</div>