.fondoCarrito {
    padding-top: 55px;
    padding-bottom: 100px;
    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.fondoCarrito .container {
    background-color: #fcf9ea;
}

.continueButtom {
    width: 200px;
}
@media(max-width:320px){
    .comen{
        font-size: larger;
    }
    .priceOrigin{
        margin-left: 5px;
    }
    .caja {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
   .butonGreen{
       padding-left: 0.5cm;
       padding-right: 0.4cm;
       margin-left: 70px;
   }
   .butonRed{
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    margin-right: 70px;
   }
}