.fondoCarrito {
    padding-top: 55px;
    padding-bottom: 100px;
    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.fondoCarrito .container {
    background-color: #fcf9ea;
}

@media(max-width:320px) {
    .priceOrigin {
        font-size: large;
    }
    .comen {
        font-size: small;
    }
    .butonRed{
        margin-bottom: 50px;
    }
}