@import "header";
@import "home.css";
@import "footer.css";
#fondoTablas {
    padding-top: 55px;
    padding-bottom: 100px;
    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}