.perfil {
    margin-top: 20px;
}

.bgimg {
    padding-top: 55px;
    padding-bottom: 100px;
    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.bgavatar {
    height: 140px;
    background-color: rgb(233, 236, 239);
}

.avatarperfil img {
    height: 140px;
}

.solapa2 {
    display: none;
}

ul {
    cursor: pointer;
}

.solapa3 {
    display: none;
}  