@import "header.css";
@import "home.css";
@import "footer.css";
@import "detalleProducto.css";
@import "register.css";
@import "carga.css";
@import "listadoProductos.css";
@import "carrito.css";
@import "users.css";
@import "perfil.css";
@import "checkOut.css";